# DATATHON@METUSTATCLUB Ã–N ELEME!

In this datathon project you will be given an 18-month transaction dataset. You will start by dividing this dataset into 2 separate 9-month periods. You will create a churn model using the first 9-month period.

In the second step, you will create a churn variable. The first 9-month period will be used for this process. For example, users who were active in the first 6-month period will be identified and it will be determined whether these users churned in the last 3-month period. If there is a response imbalance, this problem should be solved before model creation.

Finally, using what you have learnt from the first 9-month period, you will use your churn model to predict whether the active customers in the dataset in the second 9-month period (for example, those active in the first 6 months of the second dataset) will churn in the last 3 months.

This project focuses on analysing the transaction dataset and predicting the probability of customer churn. Steps such as processing this data, building a model and interpreting the results are necessary to analyse the data.

#### STEPS:
- Read the documentation describing the dataset and the notes about the dataset.
- Load the dataset and examine the dataset to analyse the data.
- Analyse the size, columns, number of missing data and other statistical properties of the data set.
- Divide the data set into two separate 9-month periods.
- Churn variable is created. In the creation of this variable, users who are active in the first 6 months of the first 9-month period will be determined and it is determined whether churn has been performed in the last 3 months.
- Appropriate techniques are applied if necessary to solve the imbalance of the churn variable.
- Select an appropriate algorithm to create a churn model and train this model using it in the first 9-month period.
- Test the created churn model and evaluate its performance.
- Load the dataset in the second 9-month period and using the model, estimate the probability that users who were active in the first 6-month period will churn in the last 3 months.
- Test your predictions and evaluate the model performance
- Results are visualised and interpreted.

In [1]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split



         # Clsassification Models
from sklearn.naive_bayes import GaussianNB, BernoulliNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, ExtraTreeRegressor


        # Deep Learning
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


          # Testing
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report

In [2]:
#!pip install openpyxl

In [3]:
sales = pd.read_excel("sales23.xlsx")
customers = pd.read_excel("customers23.xlsx")
products = pd.read_excel("products23.xlsx")

## Exploratory Data Analysis

In [4]:
sales.head(1)

,TransactionID,UserID,DateTime,ProductID,Channel,PaymentType,Price,Discount
0,1,500546547,2017-01-01 01:40:39.180,10334,MOBILE,Cash,51.0,No

In [5]:
products.head(1)

   ProductID      Category
0      10001  Female Shoes

In [6]:
customers.head(1)

      UserID UserFirstTransaction  Gender Location  Age
0  500234532           2011-10-12  FEMALE  ANTALYA   19

In [7]:
merged_df = pd.merge(sales, customers, on='UserID')
merged_df.head(1)

,TransactionID,UserID,DateTime,ProductID,Channel,PaymentType,Price,Discount,UserFirstTransaction,Gender,Location,Age
0,1,500546547,2017-01-01 01:40:39.180,10334,MOBILE,Cash,51.0,No,2015-03-18,FEMALE,ANKARA,30

In [8]:
df = pd.merge(merged_df, products, on='ProductID')
df.head(1)

,TransactionID,UserID,DateTime,ProductID,Channel,PaymentType,Price,Discount,UserFirstTransaction,Gender,Location,Age,Category
0,1,500546547,2017-01-01 01:40:39.180,10334,MOBILE,Cash,51.0,No,2015-03-18,FEMALE,ANKARA,30,Female Shoes

In [9]:
df.columns

Index(['TransactionID', 'UserID', 'DateTime', 'ProductID', 'Channel',
       'PaymentType', 'Price', 'Discount', 'UserFirstTransaction', 'Gender',
       'Location', 'Age', 'Category'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69059 entries, 0 to 69058
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionID         69059 non-null  int64
 1   UserID                69059 non-null  int64
 2   DateTime              69059 non-null  datetime64[ns]
 3   ProductID             69059 non-null  int64
 4   Channel               69059 non-null  object
 5   PaymentType           69059 non-null  object
 6   Price                 69059 non-null  float64
 7   Discount              69059 non-null  object
 8   UserFirstTransaction  69059 non-null  datetime64[ns]
 9   Gender                69059 non-null  object
 10  Location              69059 non-null  object
 11  Age                   69059 non-null  int64
 12  Category              69059 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(4), object(6)
memory usage: 7.4+ MB

In [11]:
df.isnull().sum()

TransactionID           0
UserID                  0
DateTime                0
ProductID               0
Channel                 0
PaymentType             0
Price                   0
Discount                0
UserFirstTransaction    0
Gender                  0
Location                0
Age                     0
Category                0
dtype: int64

## Feature Engineering

In [12]:
df["Discount"]= df["Discount"].map({'No':0,'Yes':1})
df["Discount"].unique()

array([0, 1], dtype=int64)

In [13]:
df["Category"].unique()

array(['Female Shoes', 'Female Fashion', 'Sport Shoes', 'Smart Phones',
       'Electronic Accessories', 'Kitchen Electronics',
       'Computers & Laptops', 'TVs and TV Sets', 'Male Shoes',
       'Outdoor Sports', 'Hobbies', 'Male Fashion', 'Sound Systems',
       'Smart Watches', 'Indoor Sports'], dtype=object)

In [14]:
df["Channel"].unique()

array(['MOBILE', 'WEB'], dtype=object)

In [15]:
df["Location"].unique()

array(['ANKARA', 'TRABZON', 'ESKISEHIR', 'KAYSERI', 'IZMIR', 'ANTALYA',
       'ISTANBUL', 'BURSA', 'ADANA'], dtype=object)

---------------------------------

---------------------------------

# Question 1: You are given an 18-month transactional data set. Please split this data set into two 9-month periods.

To divide the 18-month transaction dataset into two 9-month periods, you can follow the steps below:

- Determine the time range of the dataset by identifying the smallest and largest dates in the dataset.
- Add 9 months to the smallest date to determine the first 9-month period. This will be the cut-off date for the first period.
- For the first period, filter the transactions from the smallest date to the cut-off date
- For the second period, the transactions from the cut-off date to the largest date are filtered.

1- Read the dataset and get the '**DateTime**' column in the correct format.

In [16]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

---------------------------------

2- The smallest and largest dates in the dataset are determined.

In [17]:
min_date = df['DateTime'].min()
max_date = df['DateTime'].max()

- Find the minimum (**min_date**) and maximum (**max_date**) dates in the dataset. This step determines the time range of the dataset.

---------------------------------

3- To determine the first 9-month period, 9 months are added to the smallest date.

In [18]:
cutoff_date_9_months = min_date + pd.DateOffset(months=9)

- The cutoff date between two periods is determined by adding 9 months to the smallest date (**cutoff_date_9_months**).

---------------------------------

4- For the first period, the transactions from the smallest date to the cut-off date are filtered.

In [19]:
first_period = df[df['DateTime'] <= cutoff_date_9_months]

- A DataFrame named '**first_period**' is created containing all transactions up to the cut-off date. This DataFrame represents the first 9 months of the dataset.

---------------------------------

5- For the second period, filter the transactions from the cut-off date to the largest date

In [20]:
second_period = df[df['DateTime'] > cutoff_date_9_months]

- A DataFrame named '**second_period**' is created containing all transactions after the interrupt date. This DataFrame represents the second 9-month period of the dataset.

---------------------------------

6- First and second semester data sets are checked.

In [21]:
first_period.head(1)

,TransactionID,UserID,DateTime,ProductID,Channel,PaymentType,Price,Discount,UserFirstTransaction,Gender,Location,Age,Category
0,1,500546547,2017-01-01 01:40:39.180,10334,MOBILE,Cash,51.0,0,2015-03-18,FEMALE,ANKARA,30,Female Shoes

In [22]:
second_period.head(1)

,TransactionID,UserID,DateTime,ProductID,Channel,PaymentType,Price,Discount,UserFirstTransaction,Gender,Location,Age,Category
3,33462,500338383,2017-11-05 15:09:01.390,10334,WEB,Mobile Payment,30.0,0,2014-06-19,FEMALE,TRABZON,28,Female Shoes

- By printing the first five lines of the two newly created DataFrames (**first_period** and **second_period**), we check that they are correctly divided into periods.

---------------------------------

**The above code splits the 18-month transaction dataset into two 9-month periods and stores these periods in two separate DataFrames. These steps can be used to use the dataset for purposes such as time series analysis or to study customer behaviour over different periods.**

---------------------------------

---------------------------------

# Question 2: Create churn variable from dataset. You are supposed to use the first 9-month duration to construct your model. For example, you should use the first 6-month duration for the active users and use the last 3-month period to determine if these active users churn within this 3-month period. (Please resolve if there is imbalance in response before modeling.)

This question asks you to create a "churn" variable from an existing dataset. Churn refers to when a customer stops using a service or product. The question asks you to use the first 9 months in the dataset to build your model.

Let's explain the steps as follows:

- Using the 'DateTime' column in the dataset, determine that the data is over a period of 9 months. You will use the first 6 months to identify active users, while the last 3 months are used to determine whether these users churn or not.

- Determine the users who were active during the first 6 months. To do this, make sure that each user (UserID) has made at least one transaction during this period. A list of these users is created.

- In the last 3-month period, the previously determined active users are checked for churn. If there are no transactions from a user in this period, this user can be considered as churn.

- Churn values are added to the dataset as a new 'Churn' column. This column will contain the values 0 (no churn) or 1 (churn) for each user.

1- Read the dataset and get the date columns in the correct format.

In [23]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['UserFirstTransaction'] = pd.to_datetime(df['UserFirstTransaction'])

---------------------------------

2- The first 6 months and the last 3 months are determined.

In [24]:
cutoff_date_6_months = df['DateTime'].min() + pd.DateOffset(months=6)
cutoff_date_9_months = df['DateTime'].min() + pd.DateOffset(months=9)

 - For the first 6 months, a cut-off date is set by adding 6 months to the minimum date. Likewise, another cut-off date is set for the 9-month period by adding 9 months to the minimum date.

---------------------------------

3- Active users in the first 6 months are determined.

In [25]:
active_users = df[df['DateTime'] <= cutoff_date_6_months]['UserID'].unique()

- It takes a unique list of users who have made transactions within the first 6 months and assigns it to a list called "**active_users**".

---------------------------------

4- For active users, it is checked whether they have made transactions in the last 3 months.

In [26]:
churn_users = []
for user in active_users:
    user_transactions = df[df['UserID'] == user]
    last_transaction = user_transactions['DateTime'].max()
    if last_transaction <= cutoff_date_6_months:
        churn_users.append(user)

- In the list of active users, we start the loop and retrieve the transactions of each user. If the user's last transaction date is less than or equal to the 6 month cut-off date, this user is added to the "**churn_users**" list. This means that the user has not processed in the last 3 months and is considered churn.

---------------------------------

5- The Churn column is created.

In [27]:
df['Churn'] = np.where(df['UserID'].isin(churn_users), 1, 0)

- A new column called "**Churn**" is created. If the user is in the churn_users list, we assign the value 1 to this column; if not, we assign the value 0.

---------------------------------

6- The state of imbalance is checked.

In [28]:
churn_counts = df['Churn'].value_counts()
print(churn_counts)

0    67346
1     1713
Name: Churn, dtype: int64

- This situation indicates a class imbalance. That is, the proportion of users with churn is considerably lower than the proportion of users without churn. An imbalanced dataset means that your prediction model will tend to accurately predict non-churn users, but may struggle to predict churn users well.

### To address this imbalance, we use **Oversampling** to balance the dataset.

SMOTE (Synthetic Minority Over-sampling Technique) is used to stabilise the dataset.

In [29]:
x = df.drop(['Churn','TransactionID','UserID','DateTime','ProductID','UserFirstTransaction'],axis=1)  # Churn sÃ¼tunu hariÃ§ tÃ¼m Ã¶zellikler
y = df['Churn']

In [30]:
x = pd.get_dummies(x,drop_first=True)

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [32]:
smote = SMOTE(random_state=42)
x_train_resampled, y_train_resampled = smote.fit_resample(x_train, y_train)

In [33]:
pd.Series(y_train_resampled).value_counts()

0    53882
1    53882
Name: Churn, dtype: int64

---------------------------------

---------------------------------

## Question 3: Once you learn from the first 9-month period, proceed with the second 9-month data. Use your churn model obtained in (2) to predict if active customers (for example, those who were active in the first 6-month period of the second data set) churn in the last 3 months of this duration.

This question asks us to predict whether customers in the second 9-month period will churn, using the churn pattern learnt in the first 9-month period. For this purpose, the following steps are followed.

- Identify the active users in the second 9-month period
- Train the churn model (using the dataset previously balanced with SMOTE).
- For active users it is predicted whether they will churn or not.

In [34]:
active_time_window = pd.DateOffset(months=6)
churn_time_window = pd.DateOffset(months=3)

In [35]:
# Ä°kinci dÃ¶nemdeki ilk 6 aylÄ±k dÃ¶nem
second_period_active_start = cutoff_date_9_months
second_period_active_end = second_period_active_start + active_time_window

In [36]:
# Ä°kinci dÃ¶nemdeki son 3 aylÄ±k dÃ¶nem
second_period_churn_start = second_period_active_end
second_period_churn_end = second_period_churn_start + churn_time_window

In [37]:
# Ä°kinci dÃ¶nemdeki aktif kullanÄ±cÄ±lar
active_users_second_period = second_period[(second_period['DateTime'] >= second_period_active_start) & (second_period['DateTime'] <= second_period_active_end)]['UserID'].unique()

In [39]:
def algo_test(x,y):
    gauss = GaussianNB()
    kneClas = KNeighborsClassifier()
    svc = SVC()
    bernoulli = BernoulliNB()
    randForestClas= RandomForestClassifier()
    gradBoodClas = GradientBoostingClassifier()
    logReg = LogisticRegression()
    decTreeClas = DecisionTreeClassifier()
    
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)
    smote = SMOTE(random_state=42)
    x_train_resampled, y_train_resampled = smote.fit_resample(x_train, y_train)
    
    algos = [gauss,kneClas,svc,bernoulli,randForestClas,gradBoodClas,logReg,decTreeClas]
    algo_names = ["GaussianNB","KNeighborsClassifier","SVC","BernoulliNB","RandomForestClassifier","GradientBoostingClassifier","LogisticRegression","DecisionTreeClassifier"]
    ac_sc = []
    con_mat = []
    clas_rep = []
    
    result = pd.DataFrame(columns = ["Accuracy_Score","Confusion_Matrix","Classification_Report"],index = algo_names)
    
    for algo in algos:
        algo.fit(x_train_resampled,y_train_resampled)
        ac_sc.append(accuracy_score(algo.predict(x_test),y_test))
        con_mat.append(confusion_matrix(algo.predict(x_test),y_test))
        clas_rep.append(classification_report(algo.predict(x_test),y_test))
        
    result.Accuracy_Score =ac_sc
    result.Confusion_Matrix = con_mat
    result.Classification_Report = clas_rep
    return result.sort_values("Accuracy_Score", ascending=False)

In [40]:
algo_test(x,y)

C:\Users\abdul\anaconda3\envs\notebook-\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

,Accuracy_Score,Confusion_Matrix,Classification_Report
RandomForestClassifier,0.977121,"[[13360, 212], [104, 136]]",precision recall f1-score ...
DecisionTreeClassifier,0.964596,"[[13163, 188], [301, 160]]",precision recall f1-score ...
GradientBoostingClassifier,0.890892,"[[12194, 237], [1270, 111]]",precision recall f1-score ...
LogisticRegression,0.848972,"[[11662, 284], [1802, 64]]",precision recall f1-score ...
KNeighborsClassifier,0.839632,"[[11399, 150], [2065, 198]]",precision recall f1-score ...
BernoulliNB,0.814871,"[[11174, 267], [2290, 81]]",precision recall f1-score ...
SVC,0.782942,"[[10696, 230], [2768, 118]]",precision recall f1-score ...
GaussianNB,0.366783,"[[4823, 105], [8641, 243]]",precision recall f1-score ...

In [42]:
# Ä°kinci dÃ¶nemdeki aktif kullanÄ±cÄ±lar iÃ§in Ã¶zellikleri filtreleyin
#x_active_users = x[x['UserID'].isin(active_users_second_period)]

# Churn tahminleri yapÄ±n
#active_user_churn_predictions = model.predict(x_active_users)

In [ ]:
model = Sequential()
model.add(Dense(1024, activation = "relu"))
model.add(Dense(512, activation = "relu"))
model.add(Dense(256, activation = "relu"))
model.add(Dense(128, activation = "relu"))
model.add(Dense(64, activation = "relu"))
model.add(Dense(32, activation = "relu"))
model.add(Dense(16, activation = "relu"))
model.add(Dense(8, activation = "relu"))
model.add(Dense(1, activation = "sigmoid"))
model.compile(loss="binary_crossentropy", optimizer="adam" ,metrics="accuracy")
model.fit(x,y, epochs=1000, batch_size=128,verbose=1)

In [ ]:
model.summary()

In [ ]:
model.evaluate(x,y)

In [38]:
---------------------------------

SyntaxError: invalid syntax (894414713.py, line 1)

---------------------------------

In [ ]:
---------------------------------

In [ ]:
---------------------------------